.border-bottom-positive{border-bottom:2px solid #21BA45;}
.border-bottom-negative{border-bottom:2px solid #FF392E;}
.border-bottom-default{border-bottom:2px solid #947AFA;}
.sub-sectionspace{margin:30px 0px;}
.sectionspace{margin:34px 0px;}
.sub-sectionspace .innerspace{padding:30px;border-radius:10px;}
.bg-tertiary{background-color:#F4F0FF!important;}
.bg-primary{background-color:#F4F0FF!important;}
.bg-secondary{background-color:#FFEBFC!important;}
.sectionTopspace{margin:40px 0px;}
.heroBanner{}
.morefactor{font-size:50px;line-height:normal;font-weight:bold;color:#582FDA;margin-bottom:19px;border-bottom:2px solid #947AFA;height:75px;position:relative;display:inline-block;}
.fund-management-card{width:100%;background-color:#EFEBFF;border-radius:10px;font-size:18px;font-weight:500;padding:10px 20px;}
.fund-management-card img{height:40px;}
.portfolio-amt{color:#582FDA;font-style:italic;}
.border-red{border-left:3px solid #E82727 !important;}
.border-green{border-left:3px solid #21BA45 !important;}
.border-blue{border-left:3px solid #4968EB !important;}
.border-lightblue{border-left:3px solid #00B7D6 !important;}
.border-pink{border-left:3px solid #E307C2 !important;}
.portfoliowrap-card{box-shadow:rgba(0,0,0,0.1) 0px 1px 3px 0px,rgba(0,0,0,0.06) 0px 1px 2px 0px;background-color:#FFF7FE;position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-clip:border-box;border:1px solid #E5E7EB;margin-bottom:1.5rem;border-radius:6px;}
.portfoliowrap-card .card-body{padding:14px}
.portfoliowrap-card h4{color:#1C1C1C;font-size:20px;font-weight:bold;}
.form-item{position:relative;text-align:center;width:100%;}
.form-item input{background-color:#fff;text-align:center;border-radius:4px;border:none;border:1px solid #D1D5DB;padding:12px 12px;width:60%;}
:focus,:active{outline:none;}
.portfoliowrap-card.bg-grey{background-color:#F3F3F3;color:#000!important}
.kyc-icon{width:40px;margin:0px 8px 0px 0px;}
.ideal-allocation{font-size:13px;font-weight:bold;}

.heroBanner h1{font-size:40px;font-weight:700;text-transform:uppercase;}
.heroBanner h6{font-size:30px;font-weight:400;}
.heroBanner p{padding:0px;margin:0px;font-size:25px;line-height:40px;font-weight: 400;}
.hero-row{font-weight:500;display:flex;align-items:center;justify-content:start;text-align:start;padding:5px 10px;border:1px solid #D9D9D9;border-radius:6px;}
.hero-row img{width:70px;margin:0px 10px 0px 0px;}
.homesection{padding:30px;border-radius:10px;}
.spacing .container{margin:0px -20px;}
.section-header{margin:20px 0px;}
.section_title{font-size:28px;font-weight:600;line-height:normal;}
.section_title1{font-size:20px;line-height:normal; padding-top: 10px;}
.section_subtitle{font-size:20px;font-weight:500;line-height:normal;}

     
 .mp-card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-clip:border-box;border:1px solid #E5E7EB;border-radius:10px;}
.mp-card .card-body{padding:34px}
.mp-sectorIcons{width:44px;height:44px;background-color:#fff;border:1px solid #E5E7EB;border-radius:8px;box-shadow:rgba(0,0,0,.18) 0 2px 4px;border-radius:50px;text-align:center}
.mp-sectorIcons img{width:44px;padding:7px;}
.wealth-basket .title{font-size:24px;font-weight:700;margin-bottom:10px;}
.wealth-basket p{font-size:14px;color:#4B5563;}
.wealth-basket .info{font-size:16px;margin:15px 0px 0px 0px;}
.wealth-basket .title .tag{display:table-cell;margin:0px 0px 0px 5px;background-color:#fff;border-radius:50px;padding:2px 10px;font-size:12px !important;}
.border-pink .tag{color:#F257FF;}
.wealth-basket .info .head{font-weight:normal;color:#64668E;}
.wealth-basket .info .value{font-weight:600;}
.wealth-basket-btn .btn{width:90%;margin:10px 0px;}



 .keyfactor{background-color:#F9F7FF;padding:20px 0px 0px 0px;}
.keyfactor .title{color:#582FDA;padding-bottom:10px;margin-bottom:5px;font-size:22px;font-weight:600;border-bottom:2px solid #582FDA;}

.faq-list{border-bottom:1px solid #D1D5DB;display:flex;margin-bottom:10px;}
.floating-menu{list-style:none;margin:0;padding:0;width:100%;margin:auto;position:relative;}
.floating-menu a.active{border-bottom:2px solid #582FDA;height:54px;font-weight:bold;pointer-events:none;color:#1C1C1C;}
.floating-menu ul{padding:0;list-style:none;display:table;text-align:center;margin:0 auto;}
.floating-menu li{display:table-cell;position:relative;padding:0px 0;line-height:8px;}
.floating-menu a{height:54px;font-size:18px;font-weight:400;color:#1c1c1c;text-decoration:none;display:inline-block;padding:15px 40px;position:relative;}
.floating-menu a:after{background:none repeat scroll 0 0 transparent;bottom:0;content:"";display:block;height:2px;left:50%;position:absolute;background:#582FDA;transition:width 0.3s ease 0s,left 0.3s ease 0s;width:0;}
.floating-menu a:hover:after{width:100%;left:0;}
.portfolio-assessment{ align-items: center; border-radius:8px;padding:4px 20px;font-size:16px;font-weight:700;text-align:center;border:1px solid #D1D5EB;width: 82%;margin:0 auto}
.portfolio-assessment span{font-size:12px;}
.portfolio-assessment span a{color:#582FDA;font-weight:normal;}
.order-status-bar{min-height:110px;}
.order-status-bar ol{margin:0;padding:0;list-style:none;width:80%;/* background:#ececec;*/
 position:relative;left:21%;}


.steps{width:100%;display:table;margin-top:-15px!important;}
.steps li{counter-increment:num-sections;text-align:center;line-height:20px;display:table-cell;padding:10px 0 25px;position:relative;border-bottom:1px dashed #D1D5DB;font-size:18px;font-weight:700;width:1%;}
.steps li span{color:#676879;font-size:12px;line-height:12px !important;font-weight:500;top:5px;position:relative;}
.steps li:after{content:"\F293";font-family:bootstrap-icons;position:absolute;bottom:-15px;left:0;margin:auto;width:30px;height:30px;line-height:30px;background:#4B79E6;color:#fff;border-radius:60%;z-index:2;font-size:20px;text-align:center;}
.steps li.doing:before,.steps li:first-child:before,.steps li:last-child:before{content:"";position:absolute;z-index:1;bottom:-4px;left:0;height:4px;background:#fff;}
.steps li.doing:before,.steps li:first-child:before{left:0;}
.steps li div{position:absolute;top:calc(100% + 20px);width:60%;left:-70px;}
.steps li:last-child:before{right:0;background-color:#fff!important;}
.steps li.doing:before{background:#0063F7;}
.steps li.done{border-color:green}
.steps li.doing:after,.steps li.done:after{content:counter(num-sections);background:green;font-size:14px;font-family:'DM Sans';}
.steps li.doing:after{background:#4B79E6;}

.graph-image img{
  width: 15rem;
}


  @media screen and (max-width:767px){
    .scrollar-tab {
      width: 100%;
      margin: auto;
      position: relative;
      display: flex
;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding: 0;
      margin: 0;
      list-style-type: none;
      scrollbar-width: none;
      -ms-overflow-style: none;
      justify-content: left;
  }
  .tabs-text-style {
    font-size: 16px;
}
.tabs-text-style {
  float: left;
  padding: 15px 15px 15px 15px;
  height: 100%;
  margin: 0;
  flex-shrink: 0;
  width: 50%;
}
 .order-status-bar ol{left:10%;}
 .portfolio-assessment{ align-items: center; border-radius:8px;padding:4px 20px;font-size:16px;font-weight:700;text-align:center;border:1px solid #D1D5EB;width: 100%;margin:0 auto}

.sub-sectionspace .innerspace{padding:15px;}
.wealth-basket-btn img{margin-top:20px;}
.bg-primary.innerspace img,.bg-secondary.innerspace img{margin-top:20px;}
.portfolio-assessment{margin:0px 3px;}
.portfolio-assessment img{margin-bottom:20px;}
.heroBanner h6{font-size:22px;}
.heroBanner h1{font-size:30px;}
.heroBanner p{font-size:14px;line-height:normal;}W
/* .section_title{font-size:24px;line-height:normal;padding-top:15px} */
.section_title1{font-size:16px;line-height:normal;}
.steps li div{left:0px;width:100%;}
.section_title {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  padding-top:15px
}
.steps li div{position:relative;}
.steps,.steps li{display:block;width:auto;text-align:left;}
.steps{padding-left:25px;}
.steps li.doing:before{background:transparent;border-left:1px dashed #D1D5DB;}
.steps li{padding:15px 15px 15px 25px;border:none;border-left:1px dashed #D1D5DB;}
.steps li.doing:before,.steps li:first-child:before,.steps li:last-child:before{top:0;bottom:50%;right:auto;height:auto;left:-1px;width:1px;}
.steps li:last-child:before{top:50%;bottom:0;}
.steps li:after{top:0;bottom:0;left:-15px;right:auto;}
.steps{margin-top:0px!important;}
.order_confirm .upi-steps li:after{left:-10px;}
.fund-management-card{margin-bottom:10px;font-size:16px;line-height:normal;}
.sectionspace{margin:20px 0px;}
.sectionspace .innerspace{padding:14px;border-radius:10px;}
.portfolio-assessment{font-size:12px;}
.mp-card .card-body{padding:10px;}
.floating-menu a{line-height:normal;font-size:14px;padding:0px 10px;}
.floating-menu li{float:none;}
.faq-list{overflow-x:scroll;white-space:normal;}
.floating-menu{list-style:none;margin:0;padding:0;width:100%;margin:auto;position:relative;display:-webkit-inline-box;}
.hero-row{display:flex;flex-direction:column;text-align:center;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  height: 100%;
}

}
.explore-text{font-size:24px;font-weight:600;line-height:31px;color:#1C1C1C;
  /* padding-top:130px; */
}
.conservative-portfolio{font-size:18px;font-weight:700;line-height:25px;color:#1C1C1C;}
.risk-text{font-size:14px;font-weight:400;line-height:19px;color:#64668E;padding-top:10px;}
.para-font{font-size:13px;font-weight:400;line-height:18px;color:#1C1C1C;padding-top:10px;height:100px;}
.cards-flex-style{display:flex;align-items:center;justify-content:space-between;padding-top:26px;}
.inner-card-style{padding:20px 20px 20px 20px;background-color:#FFFFFF;border:1px solid #D9D9D9;border-radius:5px;}
.trending-div{background-color:#F8F4FF;border-radius:5px;border:1px solid #582FDA;font-size:10px;font-weight:600;line-height:14px;text-align:center;color:#1C1C1C;display:inline-block;padding:5px 15px;}
.trending{display:flex;align-items:center;justify-content:space-between;}
.investment-stock{
  font-size: 13px;
}
.investment-value{
  font-size: 13px;
}

.transaction-tab-bg-style {
  border-bottom: 1px solid #D1D5DB;
}
.transact-active-tab {
  border-bottom: 2px solid var(--text-brandcolor);
  color: var(--text-brandcolor);
}
.tabs-text-style {
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: var(--text-secondary);
  padding: 12px 25px 12px 25px;
  cursor: pointer;
  width: 50%;
}
.transact-active-tab {
  border-bottom: 2px solid #7957FF;
  color: #7957FF;
}